{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 Edge versions",
                        "ie >= 9",
                        "Chrome >= 59",
                        "FireFox >= 44",
                        "Safari >= 7"
                    ]
                },
                "useBuiltIns": true,
                "debug": false
            }
        ]
    ]
}
