// /////////////////////////////////////// //
//
// Colors
//
// /////////////////////////////////////// //

$primary-clr: #c3e2ff;
$secondary-clr: #c3e2ff;

$success-clr: #c3e2ff;
$danger-clr: #c3e2ff;
$warning-clr: #c3e2ff;
$info-clr: #c3e2ff;


$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
